[defaults]
stdout_callback = yaml
#stdout_callback=minimal
roles_path = ../ansible-roles
timeout = 60

# This controls the cutoff point (in bytes) on --diff for files
# # set to 0 for unlimited (RAM may suffer!).
# #
# #max_diff_size = 104448
#
